<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>REST API WS: DOC</title>
</head>
<p><b>Documentation</b></p>

<p><a href="/rest/profiles">/rest/profiles</a> [GET(Long id|null), POST, PUT, DELETE]</p>
Example post json: {"name":"Maxim","surName":"Mashnev","secondName":"Alexandrovich","phone":"+79267591307","email":"sample@gmail.com","position":"Senior QA","projectList":[{"name":"Second"},{"name":"First"}]}

<p><b>Debug methods</b></p>

<p><a href="/gui">/gui</a> [GET, POST(String message)]</p>

<p><a href="/auth">/auth</a> [GET(Redirect to DELETE), POST, DELETE]</p>

<p><a href="/registration">/registration</a> [POST(String login, String password]</p>

</body>
</html>

