<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>L1.1</title>
</head>
<p>welcomeMessage</p>
<p><form action="/" method="POST">
    Post message: <input type="text" name="message"/>
    <input type="submit" value="Ok">
</form></p>

<p>Message: ${message}</p>

<p>Method: ${method}</p>

<p>URL: ${URL}</p>

<p>PathInfo: ${pathInfo}</p>

<p>SessionId: ${sessionId}</p>

<p>Parameters: ${parameters}</p>

<p>ResponseCode: ${responseCode}</p>

<p><b>Authorization</b></p>
<form method="POST">
    Login: <input type="text" name="login"/>
    Password: <input type="password" name="password"/>
    <input type="submit" formaction="/signin" autofocus value="Sign in">
    <input type="submit" formaction="/signup" value="Sign up">
</form>

<p><form method="GET">
    <input type="submit" formaction="/signin" value="Sign out">
</form></p>

</body>
</html>

